no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone

no ip domain lookup
hostname {{ hostname }}

no ip source-route
no ip gratuitous-arps
no ip domain-lookup
no ip bootp server
{%- block interfaces %} {%- endblock %}
{%- block compliance %} {%- endblock %}
alias exec {{ model }}-BASE {{ vendor }}_{{ model }}_BASE_v1

