{% macro render_field(field) %}
<div class="form-group align">
    {% if field.name == 'username' or field.name == 'password' %}
        <label for="{{ field.name }}" class="col-lg-1" control-label"></label>
    {%  else %}
        <label for="{{ field.name }}" class="col-lg-1" control-label">{{ field.label.text }}</label>
    {% endif %}
    <div class="col-lg-12">
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
            {% for error in field.errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endmacro %}
